body{

    background-image: url(../img/capa\ teste\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Inter", sans-serif;
    padding: 30px;
    flex-direction: column;
    height: 60vw;
}


.container_topo{
    display: flex;
    align-items: center;
    color: #F4F4F4;
    gap: 15px;
}

.img_canto{
    display: flex;
    position: relative;
    top: -40px;
    justify-content: flex-end;
}


main{

    display: flex;
    align-items: center;
    height: 70%;
    width: 70%;
    color: #F4F4F4;
    align-items: self-end;
}

.genres{
    font-size: 15px;
}

.caixa_new{
    background-color: #DDC31C;
    display: flex;
    padding: 5px 5px;
    border-radius: 15px;
    width: 45px;
    height: 30px;
    color: black;
}

footer{
    font-size: 10px;
    color: #F4F4F4;
}

.caixa_12{

    border: solid white 1px;
    border-radius: 5px;
    padding: 2px 4px;
}

.container_estrela{
    display: flex;
    align-items: center;
}

.container_watch{
    background-color: #DF4A4A;
    height: 52px;
    width: 189px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.filmes {
    display: flex;
    height: 144px;
    width: 100%;
    justify-content: end;
    align-items: end;
    position: relative;

    color: white;
    gap: 8px;
}

.filmes div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 50px; 
}

.filmes img{
    height: 200px;
    
    
}

#centralizar{

    display: flex;
    height: 100px;
    width: 1200px;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    transform: translate(-1%, 100%);
    position: relative;
    padding-bottom: 20px;
}

.centralizar img{
    height: 50px;
    width: 50px;
    
}


@media (max-width: 1024px){

body{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main{
   display: flex;
   width: 100%;
   margin-top: -100px;

}


footer{
    width: 100%;
    height: 30%;
    display: flex;

}


.texto1{
    display:flex ;
    width: 400px;
    
}

.container_estrela{

    height: 40%;
}
    
.filmes{
    display:none;
}

.centralizar{

    display: flex;
    top: 50%;
    right: 20%;
}

}


@media (max-width: 764px){

a{
    display: none;
}

.texto1{
    display: none;
}
.genres{
    display: none;
}

.texto2{
    display: none;
}
.caixa_12{
    display: none;
}

main{
    display: flex;
    position: relative;
    padding-bottom: 5%;
}

.container_estrela{
    position: relative;
    padding-bottom: 40%;
    
}
.container_watch{
    display: flex;
    position: relative;
    left: 32%;

}

#centralizar{
    position: relative;
    display: flex;
    top: 20%;
    right: 32%;
    gap: 40px;
}

}