body{

    background-image: url(../img/capa\ teste\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Inter", sans-serif;
    padding: 30px;
    flex-direction: column;
    height: 60vw;
}


.container_topo{
    display: flex;
    align-items: center;
    color: #F4F4F4;
    gap: 15px;
}

.img_canto{
    display: flex;
    position: relative;
    top: -40px;
    justify-content: flex-end;
}


main{

    display: flex;
    align-items: center;
    height: 70%;
    width: 70%;
    color: #F4F4F4;
    align-items: self-end;
}

.genres{
    font-size: 15px;
}

.caixa_new{
    background-color: #DDC31C;
    display: flex;
    padding: 5px 5px;
    border-radius: 15px;
    width: 45px;
    height: 30px;
    color: black;
}

footer{
    font-size: 10px;
    color: #F4F4F4;
}

.caixa_12{

    border: solid white 1px;
    border-radius: 5px;
    padding: 2px 4px;
}

.container_estrela{
    display: flex;
    align-items: center;
}

.container_watch{
    background-color: #DF4A4A;
    height: 52px;
    width: 189px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.filmes {
    display: flex;
    height: 144px;
    width: 100%;
    justify-content: end;
    align-items: end;
    position: relative;

    color: white;
    gap: 8px;
}

.filmes div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filmes img{
    height: 200px;
    
}